html, body {
    font-family: 'spartan';
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
    margin-right: 0;
    align-items: center;
}

.header {
    background-color: #8eba3e;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-family: 'spartan';
    color: white;
}

.button {
    background-color: #8eba3e;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    line-height: 60px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.footer {
    background-color: #DFDADA;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Oxanium';
    color: #868686;
    margin: 0;
}

.header h1 {
    margin: 0;
}

.hi {
    padding-right: 390px;
}

.btw {
    margin-right: 20px;
}

.pen {
    margin-right: 525px;
}

.gap {
  line-height: 200%;
}

.bacon {
    text-decoration: none;
    color: rgb(57, 146, 57);
}