html, body {
    font-family: 'spartan';
    margin: 0;
}

.pad {
    padding: 40px
}

.divindiv {
    font-weight: bolder;
}

.header {
    background-color: #8eba3e;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-family: 'spartan';
    color: white;
}

.button { 
    background-color: #8eba3e;
    padding: 20px;
    text-align: center; 
    border-radius:5px;
    line-height: 60px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.footer {
    background-color: #DFDADA;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Oxanium';
    color: #868686;
}

.header h1 {
    margin: 0;
}