html, body {
    margin: 0;
    background-color: rgb(59, 63, 87);
    font-family: 'Spartan', sans-serif;
    font-family: 'FontAwesome' !important;
}

.connect {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0px;
}

.space {
    margin-left: 30px
}

.topmargin {
    margin-top: 90px;
}

.f {
    background-color: #3b5998;
    text-decoration: none;
    padding: 18px;
    padding-left: 20px;
    padding-right: 45px;
    margin-left: 0px;
    text-decoration: none;
    color: white;
}

.t {
    text-decoration: none;
    margin-top: 50px;
    padding: 18px;
    padding-left: 20px;
    padding-right: 45px;
    background-color: #00acee;
    color: white;
}

.signup {
    margin-left: 10px;
    margin-top: 17px;
    color: white;
    text-align: center;
}

.firstname {
    padding: 15px;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 118px;
    border-left: rgb(81, 143, 81) solid 5px;
}

.lastname {
    padding: 15px;
    padding-left: 20px;
    margin-left: 5px;
    padding-right: 108px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create {
    margin-right: 100px;
    color: white;
    margin-top: 20px;
    margin-bottom: 27px;
}

.tc {
    text-decoration: none;
    color: #1b94c4;
}

.btn {
    padding: 20px;
    background-color: rgb(95, 173, 108);
    color: white;
    text-align: center;
    padding-left: 230px;
    padding-right: 230px;
    text-decoration: none;
    margin: 0;
}

.w3 {
    text-decoration: none;
    color: rgb(104, 155, 233);
}

.template {
    margin-left: 40px;
    color: white;
    margin-top: 40px;
    text-align: center;
}

.input {
    padding: 15px;
    padding-right: 425px;
    margin: 15px;
}

::placeholder {
    font-weight: bold;
    font-size: medium;
}

:-ms-input-placeholder {
    font-weight: bold;
    font-size: medium;
}

:-moz-placeholder {
    font-weight: bold;
    font-size: medium;
}

::-webkit-input-placeholder {
    font-weight: bold;
    font-size: medium;
}
